<div class="center jumbotron">
<h1>Welcome to sample App</h1>
<p>This is the home page for <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a></p>
<%=link_to 'Sign_Up', new_user_path , class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
