<p id="notice"><%= notice %></p>
<div class="row">
	<aside class="col-md-4">
		<section>
			<%= gravatar_for @user%>
			<h2><%= @user.name %></h2>
		</section>
	</aside>
</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
