<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=render 'layouts/shim'%>
  </head>

  <body>

  	<%=render 'layouts/header'%>
    <div class="container">
      <%= yield %>
    </div>
    <%=render 'layouts/footer'%>
          <%= debug(params) if Rails.env.development? %>

  </body>
</html>
